@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Please Confirm Deletion!</h2>
<br>
@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)<br><br>
@using (Html.BeginForm())
{
  <input type="submit" class="button" value="Delete" />
}
<br>
@Html.ActionLink("Back To Stylists", "Index")