body {
  padding: 2%;
  background-image: url("../img/trolls.jpg");
  background-color: fffff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: 110%;

}

span {
  color: rgb(243, 49, 88);
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #030303;
  background-color:rgb(55, 250, 130);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color:rgb(7, 7, 7);
  color:azure;
} 

.button:active {
  background-color: rgb(55, 250, 130);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border: none;
}