@{
  Layout = "_Layout";
}
<h1>Messy Hair? Clean it up with Eau Claire!</h1><br><br>
<h2>A Database to manage Clients and Stylists</h2><br><br>
<p>@Html.ActionLink("View all Clients", "Index", "Clients")</p> <p>@Html.ActionLink("View all Stylists", "Index", "Stylists")</p>